.add-todo-container {
  border-radius: 10px;
  width: 450px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-todo-container > div {
  padding: 1rem;
  border-bottom: 1px solid #e4e6e6;
}

.todo-row {
  display: flex;
  flex-direction: row;
}

.todo-row > input[type=text] {
  margin: 1rem;
  width: 80%;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.todo-row > input[type="date"] {
  font-size: .8rem;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  padding: .5rem;
  color: #808080;
  cursor: pointer;
}

.todo-row.middle {
  padding-bottom: 1rem;
}

.todo-row > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #808080;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-row.bottom {
  justify-content: space-between;
  border-top: 1px solid #e4e6e6;
  padding: 1rem;
}

.flag-icon, .tag-icon {
  font-size: 21px;
  cursor: pointer;
}

.tag-icon {
  padding-right: .5rem;
}